* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.bot-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-img {
  position: absolute;
  top: 0;
  right: 0;
}

.pricing {
  margin-top: 50px;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #6c6e85;
  overflow-x: hidden;
  background-color: hsl(240, 78%, 98%);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%)); 
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79), 0 0 1px hsl(237, 63%, 64);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.billing{
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

text {
  align-self: center;
}

ul {
  list-style-type: none;

}

li {
  padding: 16px;
}

hr {
  border: none; 
  border-top: 0.1px solid #efefef;
  margin: 0 auto;
  width: 70%; /
  
}

.grey-text {
  color: #b1b1be;
  margin-top: 2px;
}


.card:hover {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  height: 460px;
  transform: scale(1.05);
  transition: transform 0.3s;
}



.three-pricing-models {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-amount {
  font-weight: bold;
  font-size: 50px;
}


.basic,
.professional,
.master {
    background-color: white;
    height: 450px;
    width: 300px;
    border-radius: 8px;
    gap: 2px;
    font-weight: bold;
    text-align: center;
}

.basic {
  z-index: 1;
  margin-right: 8px;
}

.professional {
  z-index: 1;
  margin-right: 8px;
}

.master {
  z-index: 1;
}

button {
  border-radius: 4px;
  margin-top: 20px;
  width: 250px;
  background-color: whitesmoke;
  height: 40px;
  color: white;
  font-weight: bold;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.card:hover button {
  background: white;
  color: #7d81e3; 
}

@media (max-width: 810px) {
  .three-pricing-models {
    flex-direction: column; 
  }

  .professional {
    margin-top: 12px;
  }
  
  .master {
    margin-top: 12px;
  }
}